<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Home</title>
    {% endif %}

    {% include 'header.html' %}
</head>

<body data-fade-in="true">

<div class="pre-loader">
    <div></div>
</div>

<!-- navbar  -->
{# navbar #}
{% include 'navbar.html' %}
<!-- End navbar -->

{# main block  ================================================#}

{# messages section #}



{% block content %}
<!--  data content is here  -->
{% endblock content %}

{# end main block  ================================================#}


{% include 'footer.html' %}
{% include 'script.html' %}

</body>

</html>